<%- block('title').append(`<title>${campground.title}</title>`) %>
<%- block('stylesheets').append('<link rel="stylesheet" href="/css/starability-basic.css">') %>
<%- block('scripts').append('<script src="/js/validate.js"></script>') %>
<%- layout('layouts/boilerplate') %>
<div class="container">
    <div class="mb-4">
        <h1 class="text-center display-1"><%= campground.title %></h1>
        <div class="text-center"><span class="fs-4">by </span> <span class="fs-2"><%= campground.author.username %></span></div>
    </div>
    <div class="row mb-5">
        <div class="col-md-6">
            <% for(const image of campground.images) { %>
                <img src="<%= image.path %>" alt="" class="img-fluid">
            <% } %>
        </div>
        <div class="col-md-6 text-end d-flex flex-column justify-content-center">
            <p class="lead"><%= campground.description %></p>
            <p><strong>Location:</strong> <%= campground.location %></p>
            <p><strong>Price:</strong> $<%= campground.price %></p>
            <div class="row my-3 justify-content-center">
                <form class="d-inline" action="/campgrounds/<%= campground._id %>?_method=DELETE" method="POST">
                    <div class="btn-group">
                        <% if(user && campground.author.equals(user)) { %>
                            <a href="/campgrounds/<%= campground._id %>/edit" class="btn btn-primary">Edit Campground</a>
                            <button class="btn btn-danger">Delete Campground</button>
                        <% } %>
                        <a href="/campgrounds" class="btn btn-secondary">Back to Campgrounds</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <% if(user) { %>
        <div class="mb-3">
            <div class="display-4 text-center">Leave a Review</div>
            <form action="/campgrounds/<%= campground._id %>/reviews" method="POST" novalidate class="needs-validation">
                <span class="fs-4">Rating</span>
                <fieldset class="starability-basic">
                    <input type="radio" id="rate1" name="rating" value="1" checked/>
                    <label for="rate1">1 star.</label>
              
                    <input type="radio" id="rate2" name="rating" value="2" />
                    <label for="rate2">2 stars.</label>
              
                    <input type="radio" id="rate3" name="rating" value="3" />
                    <label for="rate3">3 stars.</label>
              
                    <input type="radio" id="rate4" name="rating" value="4" />
                    <label for="rate4">4 stars.</label>
              
                    <input type="radio" id="rate5" name="rating" value="5" />
                    <label for="rate5">5 stars.</label>
              
                    <span class="starability-focus-ring"></span>
                </fieldset>
                <div class="mb-3">
                    <label for="body" class="form-label fs-4">Review</label>
                    <textarea class="form-control" id="body" name="body" rows="3" required></textarea>
                </div>
                <button type="submit" class="btn btn-primary">Submit Review</button>
            </form>
        </div>
    <% } %>
    <div class="mb-5">
        <div class="display-4 text-center mb-3">Reviews</div>
        <div class="row">
            <% if(campground.reviews.length) { %>
                <% for(const review of campground.reviews) { %>
                    <div class="col-md-4 mb-3">
                        <div class="border border-4 border-dark rounded p-2">
                            <div class="mb-1 d-flex justify-content-between"><span class="fs-2"><%= review.author.username %></span> <span class="starability-result" data-rating="<%= review.rating %>"><%= review.rating %> stars!</span></div>
                            <div class="mb-1"><%= review.body %></div>
                            <% if(user && review.author.equals(user)) { %>
                                <div class="d-flex justify-content-end">
                                    <form action="/campgrounds/<%= campground._id %>/reviews/<%= review._id %>?_method=DELETE" method="POST">
                                        <button class="btn btn-sm btn-danger">Delete</button>
                                    </form>
                                </div>
                            <% } %>
                        </div>
                    </div>
                <% } %>
            <% } else { %>
                <p class="lead text-center">No reviews yet.</p>
            <% } %>
        </div>
    </div>
</div>