<%- layout('layouts/boilerplate') %>

<h1 class="display-1 text-center mb-4">
    <%= campground.title %>
</h1>

<div class="container justify-content-center">
    <div class="col-lg-10 mb-3 row justify-content-center align-items-center">
        <div class="col-md-5 mb-3">
            <ul class="list-group">
                <li class="list-group-item"><strong>Location:</strong><%= campground.location %></li>
                <li class="list-group-item"><strong>Price:</strong> $<%= campground.price %>/night</li>
            </ul>
        </div>
        <div class="col-md-7 mb-3"><p class="lead"><%= campground.description %></p></div>
    </div>

    <div class="row justify-content-center">
        <div class="col-md-6">
            <form action="/campgrounds/<%= campground._id %>?_method=DELETE" method="post">
                <div class="row">
                    <div class="col-md-4">
                        <a href="/campgrounds/<%= campground._id %>/edit" class="btn btn-primary">Edit Campground</a>
                    </div>
                    <div class="col-md-4">
                        <button class="btn btn-danger">Delete Campground</button>
                    </div>
                    <div class="col-md-4">
                        <a href="/campgrounds" class="btn btn-secondary">All Campgrounds</a>
                    </div>
                </div>
            </form>
        </div>
    </div>

</div>